<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<!-- 定义别名, 只能放在最前面 -->
	<!-- <typeAliases>
		<typeAlias type="com.mybatis.user.entity.User" alias="User"/>
	</typeAliases> -->

	<properties resource="db.properties"></properties>

	<environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
		
		<environment id="p6spy">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="com.p6spy.engine.spy.P6SpyDriver"/>
				<property name="url" value="jdbc:p6spy:mysql://localhost:3306/dt_mybatis?serverTimezone=UTC"/>
				<property name="username" value="root"/>
				<property name="password" value="123456"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/mybatis/one2one/dao/impl/One2OneDaoImpl.xml"/>
		<mapper resource="com/mybatis/one2many/dao/impl/One2ManyDaoImpl.xml"/>
	</mappers>
</configuration>